{% extends "layout.html" %}

{% block content %}
   <div class="container">
     <div class="login-container">
       <div class="register">
         <h2>Buscador</h2>
         <form action="/result" method = "POST">
           <input type="text" placeholder="Nombre" class="nombre" name="Criterio" id="Criterio">
           <input type="submit" class="submit" value="BUSCAR">
         </form>
          {% block index %}
          {% endblock %}
         <div class="panel panel-default">
          {% block docs %}
          {% endblock %}
         </div>
       </div>
     </div>
   </div>
  {% if datos == [] %}
   <script>alert('Error: El campo del nombre no puede estar en blanco')</script>
  {% endif %}
{% endblock %}
